.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!src/**/animationEditorWebview.css
!src/**/animationEditorWebview.js
!src/**/spriteEditorWebview.css
!src/**/spriteEditorWebview.js
!src/**/imagePackerWebview.css
!src/**/imagePackerWebview.js
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
temp/**
.claude/**
